Need to install the following packages:
supabase@2.83.0
Ok to proceed? (y) 



SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."log_type" AS ENUM (
    'entry',
    'exit',
    'break_start',
    'break_end'
);


ALTER TYPE "public"."log_type" OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."add_one_class_capacity"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    -- Usamos OLD porque los datos ya no existen en la tabla de bookings
    UPDATE classes_santa_fe
    SET capacity = capacity + 1
    WHERE id = OLD.class_id;

    RETURN OLD;
END;
$$;


ALTER FUNCTION "public"."add_one_class_capacity"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."buscar_gyms_cercanos"("lat" double precision, "long" double precision) RETURNS TABLE("id" bigint, "name" "text", "description" "text", "photos" "text"[], "latitud" double precision, "longitud" double precision, "dist_meters" double precision)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    RETURN QUERY
    SELECT
        g.id::bigint,     -- Forzamos el casteo a bigint
        g.name,
        g.description,
        g.photos,
        extensions.ST_Y(g.location_coords::extensions.geometry)::float AS latitud,
        extensions.ST_X(g.location_coords::extensions.geometry)::float AS longitud,
        extensions.ST_Distance(
            g.location_coords,
            extensions.ST_SetSRID(extensions.ST_MakePoint(long, lat), 4326)::extensions.geography
        )::float AS dist_meters
    FROM
        public.gyms AS g
    WHERE
        g.is_approved = true 
        AND g.is_deleted = false
    ORDER BY
        id;
END;
$$;


ALTER FUNCTION "public"."buscar_gyms_cercanos"("lat" double precision, "long" double precision) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."clean_and_validate_gym_phone"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $_$
BEGIN
  -- 1. Si el tel├®fono no es nulo, lo procesamos
  IF NEW.phone IS NOT NULL THEN
    -- Limpiamos todos los espacios en blanco
    NEW.phone = REPLACE(NEW.phone, ' ', '');

    -- 2. Validamos con la Regex estricta (+54 obligatorio, 10 a 11 d├¡gitos extra)
    -- El operador ~ devuelve un booleano autom├íticamente
    NEW.phone_status = (NEW.phone ~ '^\+549?\d{10}$');
  ELSE
    -- 3. Si el tel├®fono es nulo, el estado de validaci├│n tambi├®n (o false)
    NEW.phone_status = false;
  END IF;

  RETURN NEW;
END;
$_$;


ALTER FUNCTION "public"."clean_and_validate_gym_phone"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."create_mercadopago_preference"("p_user_id" "uuid", "p_plan_id" bigint, "p_price" numeric, "p_plan_name" "text") RETURNS TABLE("checkout_url" "text")
    LANGUAGE "plpgsql"
    AS $$
DECLARE
    v_mercadopago_access_token TEXT; -- Deber├¡a obtenerse de las variables de entorno de Supabase
    v_mercadopago_base_url TEXT;     -- Deber├¡a obtenerse de las variables de entorno de Supabase
    v_preference_data JSONB;
    v_response JSONB;
    v_checkout_url TEXT;
BEGIN
    -- !!! IMPORTANTE !!!
    -- Estas variables (v_mercadopago_access_token, v_mercadopago_base_url)
    -- deben obtenerse de las variables de entorno de Supabase (ej: supabase.env.MERCDOPAGO_ACCESS_TOKEN).
    -- Para este ejemplo, usaremos valores dummy.

    -- EJEMPLO SIMULADO (NO FUNCIONAR├ü SIN CREDENCIALES REALES Y LLAMADA EXTERNA)
    -- En un caso real, usar├¡as una librer├¡a o har├¡a una petici├│n HTTP a la API de Mercadopago.
    -- Ejemplo con librer├¡as: require('mercadopago'); mercadopago.configure({access_token: 'YOUR_ACCESS_TOKEN'});
    -- Ejemplo de llamada API:
    /*
    v_mercadopago_access_token := supabase.env.MERCDOPAGO_ACCESS_TOKEN;
    v_mercadopago_base_url := 'https://api.mercadopago.com/v1/preferences';

    v_preference_data := jsonb_build_object(
        'items', jsonb_build_array(
            jsonb_build_object(
                'title', p_plan_name,
                'quantity', 1,
                'currency_id', 'ARS', -- O la moneda correspondiente
                'unit_price', p_price
            )
        ),
        'external_reference', p_user_id || '-' || p_plan_id || '-' || date_part('epoch', NOW())::bigint, -- Referencia externa para seguimiento
        'notification_url', supabase.env.SUPABASE_URL || '/api/webhooks/mercadopago' -- URL de tu webhook
    );

    -- La llamada HTTP a Mercadopago es compleja y requiere extensiones o Edge Functions para hacerla desde SQL.
    -- Por simplicidad, aqu├¡ simulamos el resultado.
    */

    -- Simulaci├│n: Retornar una URL dummy de Mercadopago
    v_checkout_url := 'https://www.mercadopago.com.ar/checkout/pay?pref_id=dummy_preference_id_simulated'; -- Reemplazar con la URL real

    RETURN QUERY SELECT v_checkout_url AS checkout_url;
END;
$$;


ALTER FUNCTION "public"."create_mercadopago_preference"("p_user_id" "uuid", "p_plan_id" bigint, "p_price" numeric, "p_plan_name" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."deactivate_user"("p_user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Solo los administradores pueden ejecutar esta funci├│n.
  IF (SELECT role FROM public.profiles WHERE id = auth.uid()) != 'admin' THEN
    RAISE EXCEPTION 'No tienes permiso para desactivar usuarios.';
  END IF;

  UPDATE public.profiles
  SET status = 'inactive'
  WHERE id = p_user_id;
END;
$$;


ALTER FUNCTION "public"."deactivate_user"("p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."delete_user_account"("p_user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
DECLARE
  requesting_user_role TEXT;
BEGIN
  -- Verificar el rol del usuario que invoca la funci├│n.
  SELECT role INTO requesting_user_role FROM public.profiles WHERE id = auth.uid();

  IF requesting_user_role != 'admin' THEN
    RAISE EXCEPTION 'No tienes permiso para eliminar usuarios.';
  END IF;

  -- Eliminar el usuario del sistema de autenticaci├│n.
  -- Esto requiere que la funci├│n sea SECURITY DEFINER y que el propietario de la funci├│n
  -- tenga los permisos necesarios (normalmente el rol 'postgres').
  DELETE FROM auth.users WHERE id = p_user_id;
END;
$$;


ALTER FUNCTION "public"."delete_user_account"("p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."email_exists"("p_email" "text") RETURNS boolean
    LANGUAGE "plpgsql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$declare
  v_exists boolean;
begin
  select exists(
    select 1
    from profiles
    where email = p_email
  ) into v_exists;

  return v_exists;
end;$$;


ALTER FUNCTION "public"."email_exists"("p_email" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_all_gyms_location_santa_fe"() RETURNS TABLE("id" bigint, "title" "text", "category_name" "text", "phone" "text", "longitud" double precision, "latitud" double precision)
    LANGUAGE "plpgsql"
    AS $$
begin
  return query
  select 
    g.id, 
    g.title, 
    g.category_name, 
    g.phone, 
    st_x(g.location::geometry),
    st_y(g.location::geometry)
  from "gymsSantaFe" g
  where g.location is not null;
end;
$$;


ALTER FUNCTION "public"."get_all_gyms_location_santa_fe"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_all_gyms_with_coords_json"() RETURNS json
    LANGUAGE "plpgsql"
    AS $$
declare
  result json;
begin
  select json_agg(gyms_data) 
  into result
  from (
    select 
      id, -- Agregamos el ID del gimnasio
      title, 
      category_name, 
      phone, 
      st_x(location::geometry) as longitud,
      st_y(location::geometry) as latitud
    from "gymsSantaFe"
    where location is not null
  ) gyms_data;

  return result;
end;
$$;


ALTER FUNCTION "public"."get_all_gyms_with_coords_json"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_confirmed_gym_bookings_santa_fe"("target_gym_id" bigint) RETURNS "jsonb"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$BEGIN
  RETURN (
    SELECT COALESCE(json_agg(booking_row)::jsonb, '[]'::jsonb)
    FROM (
      SELECT json_build_object(
        'id', b.id,
        'status', b.status,
        'created_at', b.created_at,
        'user_id', b.user_id,
        'profiles', (
          SELECT json_build_object('full_name', p.full_name, 'email', p.email)
          FROM profiles p WHERE p.id = b.user_id
        ),
        'classes', (
          SELECT json_build_object(
            'id', c.id, 
            'name', c.name, 
            'start_time', c.start_time, 
            'end_time', c.end_time,
            'gyms', (SELECT json_build_object('id', g.id) FROM gyms g WHERE g.id = c.gym_id)
          )
          FROM classes_santa_fe c WHERE c.id = b.class_id
        )
      ) as booking_row
      FROM bookings_santa_fe b
      JOIN classes_santa_fe c ON b.class_id = c.id
      WHERE c.gym_id = target_gym_id 
        AND b.status = 'confirmada'
      ORDER BY b.created_at DESC
    ) subquery
  );
END;$$;


ALTER FUNCTION "public"."get_confirmed_gym_bookings_santa_fe"("target_gym_id" bigint) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_gym_classes_count"() RETURNS "jsonb"
    LANGUAGE "sql" SECURITY DEFINER
    AS $$SELECT jsonb_object_agg(gym_id, class_count)
  FROM (
    SELECT g.id AS gym_id, count(c.id) AS class_count
    FROM public."gymsSantaFe" g
    LEFT JOIN public.classes_santa_fe c ON g.id = c.gym_id -- Trae todos los gyms aunque no tengan clases
    WHERE g.is_deleted = false 
      AND g.is_approved = true
    GROUP BY g.id
  ) data;$$;


ALTER FUNCTION "public"."get_gym_classes_count"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_gyms_by_owner_santa_fe"("owner_id_input" "uuid") RETURNS TABLE("id" bigint, "title" "text", "total_score" numeric, "reviews_count" integer, "street" "text", "city" "text", "state" "text", "country_code" character varying, "website" "text", "phone" "text", "url" "text", "category_name" "text", "location" "extensions"."geography", "created_at" timestamp with time zone, "updated_at" timestamp with time zone, "phone_status" boolean, "owner_id" "uuid", "is_approved" boolean, "is_deleted" boolean, "lat" double precision, "lng" double precision)
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    g.id,
    g.title,
    g.total_score,
    g.reviews_count,
    g.street,
    g.city,
    g.state,
    g.country_code,
    g.website,
    g.phone,
    g.url,
    g.category_name,
    g.location,
    g.created_at,
    g.updated_at,
    g.phone_status,
    g.owner_id,
    g.is_approved,
    g.is_deleted,
    ST_Y(g.location::geometry) AS lat,
    ST_X(g.location::geometry) AS lng
  FROM "gymsSantaFe" g
  WHERE g.owner_id = owner_id_input;
END;
$$;


ALTER FUNCTION "public"."get_gyms_by_owner_santa_fe"("owner_id_input" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_gyms_with_coords"() RETURNS TABLE("id" bigint, "name" "text", "description" "text", "photos" "text"[], "lat" double precision, "lng" double precision)
    LANGUAGE "plpgsql"
    AS $$BEGIN
    RETURN QUERY
    SELECT
        g.id,
        g.name,
        g.description,
        g.photos,
        extensions.ST_Y(g.location_coords::extensions.geometry) AS lat,
        extensions.ST_X(g.location_coords::extensions.geometry) AS lng
    FROM
        public.gyms AS g
    WHERE
        g.is_approved = true AND g.is_deleted = FALSE
    ORDER BY
        id;
END;$$;


ALTER FUNCTION "public"."get_gyms_with_coords"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_my_role"() RETURNS "text"
    LANGUAGE "plpgsql" SECURITY DEFINER
    SET "search_path" TO ''
    AS $$
BEGIN
  -- Se usa "public.profiles" expl├¡citamente porque el search_path est├í vac├¡o.
  RETURN (
    SELECT role
    FROM public.profiles
    WHERE id = auth.uid()
  );
END;
$$;


ALTER FUNCTION "public"."get_my_role"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$BEGIN
  INSERT INTO public.profiles (id, full_name, email, phone, role)
  VALUES (
    new.id, 
    new.raw_user_meta_data->>'full_name', 
    new.raw_user_meta_data->>'email', 
    new.raw_user_meta_data->>'phone',
    COALESCE(new.raw_user_meta_data->>'user_role', 'cliente') -- Si no viene rol, pone 'cliente'
  );
  RETURN new;
END;$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_updated_at_gyms"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
begin
  new.updated_at = now();
  return new;
end;
$$;


ALTER FUNCTION "public"."handle_updated_at_gyms"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."nearby_gyms"("lat" double precision, "long" double precision) RETURNS TABLE("id" bigint, "name" "text", "description" "text", "photos" "text"[], "dist_meters" double precision)
    LANGUAGE "plpgsql"
    AS $$BEGIN
    RETURN QUERY
    SELECT
        g.id,
        g.name,
        g.description,
        g.photos,
        extensions.ST_Distance(
            g.location_coords,
            extensions.ST_SetSRID(extensions.ST_MakePoint(long, lat),4326)::extensions.geography
        ) AS dist_meters
    FROM
        public.gyms AS g
    WHERE
        g.is_approved = true AND g.is_deleted = false
    ORDER BY
        id;
END;$$;


ALTER FUNCTION "public"."nearby_gyms"("lat" double precision, "long" double precision) OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."reactivate_user"("p_user_id" "uuid") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  -- Solo los administradores pueden ejecutar esta funci├│n.
  IF (SELECT role FROM public.profiles WHERE id = auth.uid()) != 'admin' THEN
    RAISE EXCEPTION 'No tienes permiso para reactivar usuarios.';
  END IF;

  UPDATE public.profiles
  SET status = 'active'
  WHERE id = p_user_id;
END;
$$;


ALTER FUNCTION "public"."reactivate_user"("p_user_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."search_gyms_autocomplete"("search_term" "text") RETURNS TABLE("id" "uuid", "title" "text")
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    g.id, 
    g.title
  FROM "gymsSantaFe" g
  WHERE 
    g.title ILIKE '%' || search_term || '%' -- Coincidencia parcial sin importar may├║sculas
  ORDER BY 
    g.title ASC
  LIMIT 10; -- Limitar para que el dropdown no explote
END;
$$;


ALTER FUNCTION "public"."search_gyms_autocomplete"("search_term" "text") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_class_capacity"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    -- Buscamos en classes_santa_fe usando el ID que viene en la nueva reserva (NEW)
    UPDATE classes_santa_fe
    SET capacity = capacity - 1
    WHERE id = NEW.class_id AND capacity > 0; -- Asegurate que la columna en bookings se llame class_id

    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_class_capacity"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_gyms_state_to_santa_fe"() RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
begin
    -- Usamos comillas dobles para respetar las may├║sculas del nombre de la tabla
    update "gymsSantaFe"
    set state = 'Santa Fe'
    where state is distinct from 'Santa Fe' 
       or state is null; -- Tambi├®n actualiza si el campo est├í vac├¡o
end;
$$;


ALTER FUNCTION "public"."update_gyms_state_to_santa_fe"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."bookings" (
    "id" bigint NOT NULL,
    "user_id" "uuid" NOT NULL,
    "class_id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "status" "text" DEFAULT 'confirmadacancelada'::"text" NOT NULL
);


ALTER TABLE "public"."bookings" OWNER TO "postgres";


COMMENT ON TABLE "public"."bookings" IS 'User bookings for classes.';



ALTER TABLE "public"."bookings" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."bookings_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."bookings_santa_fe" (
    "user_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "status" "text" DEFAULT 'confirmadacancelada'::"text" NOT NULL,
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "class_id" "uuid"
);


ALTER TABLE "public"."bookings_santa_fe" OWNER TO "postgres";


COMMENT ON TABLE "public"."bookings_santa_fe" IS 'This is a duplicate of bookings';



CREATE TABLE IF NOT EXISTS "public"."classes" (
    "id" bigint NOT NULL,
    "gym_id" bigint NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "start_time" timestamp with time zone NOT NULL,
    "end_time" timestamp with time zone NOT NULL,
    "capacity" integer NOT NULL
);


ALTER TABLE "public"."classes" OWNER TO "postgres";


COMMENT ON TABLE "public"."classes" IS 'Details of classes offered by
gyms.';



ALTER TABLE "public"."classes" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."classes_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."classes_santa_fe" (
    "name" "text" NOT NULL,
    "description" "text",
    "start_time" timestamp with time zone NOT NULL,
    "end_time" timestamp with time zone NOT NULL,
    "capacity" integer NOT NULL,
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "gym_id" "uuid"
);


ALTER TABLE "public"."classes_santa_fe" OWNER TO "postgres";


COMMENT ON TABLE "public"."classes_santa_fe" IS 'This is a duplicate of classes';



CREATE TABLE IF NOT EXISTS "public"."communication_logs" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "provider" "text" NOT NULL,
    "endpoint" "text",
    "request_body" "jsonb",
    "response_body" "jsonb",
    "status_code" integer,
    "order_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."communication_logs" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."gym_devices" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "device_name" "text" NOT NULL,
    "mp_device_id" "text" NOT NULL,
    "status" "text" DEFAULT 'active'::"text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."gym_devices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."gyms" (
    "id" bigint NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "description" "text",
    "phone" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "is_approved" boolean DEFAULT false NOT NULL,
    "location_coords" "extensions"."geography"(Point,4326),
    "is_deleted" boolean DEFAULT false NOT NULL,
    "street" "text" DEFAULT 'pendiente'::"text" NOT NULL,
    "city" "text" DEFAULT 'pendinete'::"text" NOT NULL,
    "state" "text" DEFAULT 'pendiente'::"text" NOT NULL
);


ALTER TABLE "public"."gyms" OWNER TO "postgres";


COMMENT ON TABLE "public"."gyms" IS 'Stores information about partner
gyms.';



COMMENT ON COLUMN "public"."gyms"."location_coords" IS 'Coordenadas
geogr├íficas (Longitud, Latitud) del gimnasio.';



COMMENT ON COLUMN "public"."gyms"."is_deleted" IS 'inidica que el owner a borrado este gym de su listado';



CREATE TABLE IF NOT EXISTS "public"."gymsSantaFe" (
    "title" "text" NOT NULL,
    "total_score" numeric(3,1),
    "reviews_count" integer,
    "street" "text",
    "city" "text",
    "state" "text",
    "country_code" character varying(5),
    "website" "text",
    "phone" "text",
    "url" "text",
    "category_name" "text",
    "location" "extensions"."geography"(Point,4326),
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "phone_status" boolean DEFAULT false,
    "owner_id" "uuid",
    "is_approved" boolean DEFAULT false NOT NULL,
    "is_deleted" boolean DEFAULT false NOT NULL,
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL
);


ALTER TABLE "public"."gymsSantaFe" OWNER TO "postgres";


COMMENT ON COLUMN "public"."gymsSantaFe"."owner_id" IS 'el due├▒o del gym relacionado con profile';



COMMENT ON COLUMN "public"."gymsSantaFe"."is_approved" IS 'es donde el  admin le da el ok al gym para que empiece a usar su membres├¡a';



COMMENT ON COLUMN "public"."gymsSantaFe"."is_deleted" IS 'queda grabado el pedido del owner de borrar el gym, pero solo un admin puede borrarlo de la DB';



ALTER TABLE "public"."gyms" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."gyms_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."invoices" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "order_id" "uuid",
    "cae" "text",
    "cae_vencimiento" "date",
    "cbte_tipo" integer,
    "punto_venta" integer,
    "cbte_nro" integer,
    "qr_link" "text",
    "full_pdf_url" "text",
    "is_printed" boolean DEFAULT false,
    "printed_at" timestamp with time zone,
    "printer_id" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."invoices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."membership_types" (
    "id" bigint NOT NULL,
    "name" "text" NOT NULL,
    "price" numeric(10,2) NOT NULL,
    "duration_days" integer NOT NULL
);


ALTER TABLE "public"."membership_types" OWNER TO "postgres";


COMMENT ON TABLE "public"."membership_types" IS 'Defines the different typ
of memberships available.';



ALTER TABLE "public"."membership_types" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."membership_types_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."orders" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "user_id" "uuid",
    "total_amount" numeric(12,2) NOT NULL,
    "currency" "text" DEFAULT 'ARS'::"text",
    "status" "text" DEFAULT 'pending'::"text",
    "customer_doc_type" "text" DEFAULT '99'::"text",
    "customer_doc_number" "text" DEFAULT '0'::"text",
    "customer_name" "text" DEFAULT 'Consumidor Final'::"text",
    "iva_condition" "text" DEFAULT 'Consumidor Final'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "plan_name" "text" DEFAULT 'Mensual'::"text" NOT NULL
);


ALTER TABLE "public"."orders" OWNER TO "postgres";


COMMENT ON COLUMN "public"."orders"."plan_name" IS 'Es el tipo de membres├¡a';



CREATE OR REPLACE VIEW "public"."monthly_sales_report" AS
 SELECT "date_trunc"('month'::"text", "created_at") AS "month",
    "sum"("total_amount") AS "monthly_total",
    "sum"("sum"("total_amount")) OVER (ORDER BY ("date_trunc"('month'::"text", "created_at"))) AS "cumulative_total"
   FROM "public"."orders"
  WHERE ("status" = ANY (ARRAY['paid'::"text", 'invoiced'::"text"]))
  GROUP BY ("date_trunc"('month'::"text", "created_at"))
  ORDER BY ("date_trunc"('month'::"text", "created_at"));


ALTER VIEW "public"."monthly_sales_report" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."notifications_log" (
    "id" bigint NOT NULL,
    "booking_id" bigint,
    "target_user" "uuid",
    "target_role" "text",
    "payload" "jsonb",
    "onesignal_response" "jsonb",
    "status" "text",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."notifications_log" OWNER TO "postgres";


ALTER TABLE "public"."notifications_log" ALTER COLUMN "id" ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME "public"."notifications_log_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



CREATE TABLE IF NOT EXISTS "public"."owner_memberships" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "order_id" "uuid" NOT NULL,
    "membership_type_id" "text",
    "start_date" timestamp with time zone DEFAULT "now"(),
    "end_date" timestamp with time zone NOT NULL,
    "status" "text" DEFAULT 'active'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "owner_memberships_status_check" CHECK (("status" = ANY (ARRAY['active'::"text", 'expired'::"text", 'cancelled'::"text"])))
);


ALTER TABLE "public"."owner_memberships" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payments" (
    "id" "uuid" DEFAULT "extensions"."uuid_generate_v4"() NOT NULL,
    "order_id" "uuid",
    "mp_payment_id" "text",
    "amount" numeric(12,2) NOT NULL,
    "status" "text",
    "payment_type" "text" DEFAULT 'online'::"text",
    "payment_method_id" "text",
    "device_id" "text",
    "card_last_four" "text",
    "installments" integer DEFAULT 1,
    "raw_response" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."payments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "full_name" "text",
    "avatar_url" "text",
    "role" "text" DEFAULT 'cliente'::"text" NOT NULL,
    "email" "text",
    "status" "text" DEFAULT 'active'::"text" NOT NULL,
    "phone" "text"
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


COMMENT ON TABLE "public"."profiles" IS 'Stores public profile data for ea
user.';



COMMENT ON COLUMN "public"."profiles"."id" IS 'References the user in
auth.users.';



COMMENT ON COLUMN "public"."profiles"."email" IS 'email del usuario';



COMMENT ON COLUMN "public"."profiles"."status" IS 'Estado del perfil del usuario (e.g., active, inactive)';



COMMENT ON COLUMN "public"."profiles"."phone" IS 'client┬┤s phone number';



CREATE TABLE IF NOT EXISTS "public"."tasks" (
    "id" bigint NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "name" "text" DEFAULT 'generic task'::"text" NOT NULL,
    "done" boolean DEFAULT false NOT NULL,
    "userId" "uuid" NOT NULL
);


ALTER TABLE "public"."tasks" OWNER TO "postgres";


ALTER TABLE "public"."tasks" ALTER COLUMN "id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME "public"."tasks_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."bookings_santa_fe"
    ADD CONSTRAINT "bookings_santa_fe_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."classes"
    ADD CONSTRAINT "classes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."classes_santa_fe"
    ADD CONSTRAINT "classes_santa_fe_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."communication_logs"
    ADD CONSTRAINT "communication_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."gym_devices"
    ADD CONSTRAINT "gym_devices_mp_device_id_key" UNIQUE ("mp_device_id");



ALTER TABLE ONLY "public"."gym_devices"
    ADD CONSTRAINT "gym_devices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."gymsSantaFe"
    ADD CONSTRAINT "gymsSantaFe_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."gyms"
    ADD CONSTRAINT "gyms_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."invoices"
    ADD CONSTRAINT "invoices_cae_key" UNIQUE ("cae");



ALTER TABLE ONLY "public"."invoices"
    ADD CONSTRAINT "invoices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."membership_types"
    ADD CONSTRAINT "membership_types_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."notifications_log"
    ADD CONSTRAINT "notifications_log_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "orders_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."owner_memberships"
    ADD CONSTRAINT "owner_memberships_order_id_key" UNIQUE ("order_id");



ALTER TABLE ONLY "public"."owner_memberships"
    ADD CONSTRAINT "owner_memberships_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_mp_payment_id_key" UNIQUE ("mp_payment_id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."tasks"
    ADD CONSTRAINT "tasks_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "unique_booking" UNIQUE ("user_id", "class_id");



CREATE INDEX "gyms_santa_fe_location_idx" ON "public"."gymsSantaFe" USING "gist" ("location");



CREATE INDEX "idx_memberships_user_id" ON "public"."owner_memberships" USING "btree" ("user_id");



CREATE OR REPLACE TRIGGER "mew_bookings" AFTER INSERT ON "public"."bookings_santa_fe" FOR EACH ROW EXECUTE FUNCTION "supabase_functions"."http_request"('https://ougtipazurskmbtasbfl.supabase.co/functions/v1/notify-gym-event-new-book', 'POST', '{"Content-type":"application/json","Authorization":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91Z3RpcGF6dXJza21idGFzYmZsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTEyNjIxMiwiZXhwIjoyMDg0NzAyMjEyfQ.A20tOXpVm3_EXH3esz1CTV2vkNOkmQ7ZZs-0pVsioaQ"}', '{}', '5000');



CREATE OR REPLACE TRIGGER "set_updated_at_gyms" BEFORE UPDATE ON "public"."gymsSantaFe" FOR EACH ROW EXECUTE FUNCTION "public"."handle_updated_at_gyms"();



CREATE OR REPLACE TRIGGER "tr_clean_and_validate_gym_phone" BEFORE INSERT OR UPDATE ON "public"."gymsSantaFe" FOR EACH ROW EXECUTE FUNCTION "public"."clean_and_validate_gym_phone"();



CREATE OR REPLACE TRIGGER "tr_restar_cupo_classes_santa_fe" AFTER INSERT ON "public"."bookings_santa_fe" FOR EACH ROW EXECUTE FUNCTION "public"."update_class_capacity"();



CREATE OR REPLACE TRIGGER "tr_sumar_cupo_santa_fe" AFTER DELETE ON "public"."bookings_santa_fe" FOR EACH ROW EXECUTE FUNCTION "public"."add_one_class_capacity"();



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "public"."classes"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bookings_santa_fe"
    ADD CONSTRAINT "bookings_santa_fe_class_id_fkey" FOREIGN KEY ("class_id") REFERENCES "public"."classes_santa_fe"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."bookings_santa_fe"
    ADD CONSTRAINT "bookings_santa_fe_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."bookings"
    ADD CONSTRAINT "bookings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."classes"
    ADD CONSTRAINT "classes_gym_id_fkey" FOREIGN KEY ("gym_id") REFERENCES "public"."gyms"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."classes_santa_fe"
    ADD CONSTRAINT "classes_santa_fe_gym_id_fkey" FOREIGN KEY ("gym_id") REFERENCES "public"."gymsSantaFe"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."communication_logs"
    ADD CONSTRAINT "communication_logs_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."orders"
    ADD CONSTRAINT "fk_orders_to_profiles" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."gymsSantaFe"
    ADD CONSTRAINT "gymsSantaFe_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."gyms"
    ADD CONSTRAINT "gyms_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."invoices"
    ADD CONSTRAINT "invoices_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."owner_memberships"
    ADD CONSTRAINT "owner_memberships_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id");



ALTER TABLE ONLY "public"."owner_memberships"
    ADD CONSTRAINT "owner_memberships_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "public"."orders"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Allow owner to delete their classes." ON "public"."classes" FOR DELETE TO "authenticated" USING (("gym_id" IN ( SELECT "gyms"."id"
   FROM "public"."gyms"
  WHERE ("gyms"."owner_id" = "auth"."uid"()))));



CREATE POLICY "Allow owner to insert classes." ON "public"."classes" FOR INSERT TO "authenticated" WITH CHECK (("gym_id" IN ( SELECT "gyms"."id"
   FROM "public"."gyms"
  WHERE ("gyms"."owner_id" = "auth"."uid"()))));



CREATE POLICY "Allow owner to update their classes." ON "public"."classes" FOR UPDATE TO "authenticated" USING (("gym_id" IN ( SELECT "gyms"."id"
   FROM "public"."gyms"
  WHERE ("gyms"."owner_id" = "auth"."uid"()))));



CREATE POLICY "Cualquiera puede ver gimnasios aprobados." ON "public"."gyms" FOR SELECT USING (("is_approved" = true));



CREATE POLICY "Cualquiera puede ver las clases." ON "public"."classes" FOR SELECT USING (true);



CREATE POLICY "Cualquiera puede ver los tipos de membresia." ON "public"."membership_types" FOR SELECT USING (true);



CREATE POLICY "Los administradores tienen acceso total a las tareas" ON "public"."tasks" USING (("public"."get_my_role"() = 'admin'::"text")) WITH CHECK (("public"."get_my_role"() = 'admin'::"text"));



CREATE POLICY "Los administradores tienen acceso total a los gimnasios." ON "public"."gyms" USING ((( SELECT "profiles"."role"
   FROM "public"."profiles"
  WHERE ("profiles"."id" = "auth"."uid"())) = 'admin'::"text"));



CREATE POLICY "Los administradores tienen acceso total a los perfiles." ON "public"."profiles" USING (("public"."get_my_role"() = 'admin'::"text")) WITH CHECK (("public"."get_my_role"() = 'admin'::"text"));



CREATE POLICY "Los propietarios pueden actualizar su propio gimnasio." ON "public"."gyms" FOR UPDATE USING (("auth"."uid"() = "owner_id"));



CREATE POLICY "Los propietarios pueden crear gimnasios." ON "public"."gyms" FOR INSERT WITH CHECK (("auth"."uid"() = "owner_id"));



CREATE POLICY "Los usuarios pueden actualizar su propio perfil." ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "id"));



CREATE POLICY "Los usuarios solo pueden ver su propio perfil." ON "public"."profiles" FOR SELECT USING (("auth"."uid"() = "id"));



CREATE POLICY "Propietarios pueden ver las reservas de sus clases." ON "public"."bookings" FOR SELECT USING ((( SELECT "g"."owner_id"
   FROM ("public"."gyms" "g"
     JOIN "public"."classes" "c" ON (("g"."id" = "c"."gym_id")))
  WHERE ("c"."id" = "bookings"."class_id")) = "auth"."uid"()));



CREATE POLICY "Users can view own membership" ON "public"."owner_memberships" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Usuarios pueden cancelar sus propias reservas." ON "public"."bookings" FOR DELETE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Usuarios pueden crear reservas para si mismos." ON "public"."bookings" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Usuarios pueden ver sus propias reservas." ON "public"."bookings" FOR SELECT USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."bookings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."classes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."gyms" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."membership_types" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."owner_memberships" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."tasks" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."add_one_class_capacity"() TO "anon";
GRANT ALL ON FUNCTION "public"."add_one_class_capacity"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."add_one_class_capacity"() TO "service_role";



GRANT ALL ON FUNCTION "public"."buscar_gyms_cercanos"("lat" double precision, "long" double precision) TO "anon";
GRANT ALL ON FUNCTION "public"."buscar_gyms_cercanos"("lat" double precision, "long" double precision) TO "authenticated";
GRANT ALL ON FUNCTION "public"."buscar_gyms_cercanos"("lat" double precision, "long" double precision) TO "service_role";



GRANT ALL ON FUNCTION "public"."clean_and_validate_gym_phone"() TO "anon";
GRANT ALL ON FUNCTION "public"."clean_and_validate_gym_phone"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."clean_and_validate_gym_phone"() TO "service_role";



GRANT ALL ON FUNCTION "public"."create_mercadopago_preference"("p_user_id" "uuid", "p_plan_id" bigint, "p_price" numeric, "p_plan_name" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."create_mercadopago_preference"("p_user_id" "uuid", "p_plan_id" bigint, "p_price" numeric, "p_plan_name" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."create_mercadopago_preference"("p_user_id" "uuid", "p_plan_id" bigint, "p_price" numeric, "p_plan_name" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."deactivate_user"("p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."deactivate_user"("p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."deactivate_user"("p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."delete_user_account"("p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."delete_user_account"("p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."delete_user_account"("p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."email_exists"("p_email" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."email_exists"("p_email" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."email_exists"("p_email" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_all_gyms_location_santa_fe"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_all_gyms_location_santa_fe"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_all_gyms_location_santa_fe"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_all_gyms_with_coords_json"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_all_gyms_with_coords_json"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_all_gyms_with_coords_json"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_confirmed_gym_bookings_santa_fe"("target_gym_id" bigint) TO "anon";
GRANT ALL ON FUNCTION "public"."get_confirmed_gym_bookings_santa_fe"("target_gym_id" bigint) TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_confirmed_gym_bookings_santa_fe"("target_gym_id" bigint) TO "service_role";



GRANT ALL ON FUNCTION "public"."get_gym_classes_count"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_gym_classes_count"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_gym_classes_count"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_gyms_by_owner_santa_fe"("owner_id_input" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."get_gyms_by_owner_santa_fe"("owner_id_input" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_gyms_by_owner_santa_fe"("owner_id_input" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."get_gyms_with_coords"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_gyms_with_coords"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_gyms_with_coords"() TO "service_role";



REVOKE ALL ON FUNCTION "public"."get_my_role"() FROM PUBLIC;
GRANT ALL ON FUNCTION "public"."get_my_role"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_my_role"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_my_role"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_updated_at_gyms"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_updated_at_gyms"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_updated_at_gyms"() TO "service_role";



GRANT ALL ON FUNCTION "public"."nearby_gyms"("lat" double precision, "long" double precision) TO "anon";
GRANT ALL ON FUNCTION "public"."nearby_gyms"("lat" double precision, "long" double precision) TO "authenticated";
GRANT ALL ON FUNCTION "public"."nearby_gyms"("lat" double precision, "long" double precision) TO "service_role";



GRANT ALL ON FUNCTION "public"."reactivate_user"("p_user_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."reactivate_user"("p_user_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."reactivate_user"("p_user_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."search_gyms_autocomplete"("search_term" "text") TO "anon";
GRANT ALL ON FUNCTION "public"."search_gyms_autocomplete"("search_term" "text") TO "authenticated";
GRANT ALL ON FUNCTION "public"."search_gyms_autocomplete"("search_term" "text") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_class_capacity"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_class_capacity"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_class_capacity"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_gyms_state_to_santa_fe"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_gyms_state_to_santa_fe"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_gyms_state_to_santa_fe"() TO "service_role";



GRANT ALL ON TABLE "public"."bookings" TO "anon";
GRANT ALL ON TABLE "public"."bookings" TO "authenticated";
GRANT ALL ON TABLE "public"."bookings" TO "service_role";



GRANT ALL ON SEQUENCE "public"."bookings_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."bookings_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."bookings_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."bookings_santa_fe" TO "anon";
GRANT ALL ON TABLE "public"."bookings_santa_fe" TO "authenticated";
GRANT ALL ON TABLE "public"."bookings_santa_fe" TO "service_role";



GRANT ALL ON TABLE "public"."classes" TO "anon";
GRANT ALL ON TABLE "public"."classes" TO "authenticated";
GRANT ALL ON TABLE "public"."classes" TO "service_role";



GRANT ALL ON SEQUENCE "public"."classes_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."classes_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."classes_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."classes_santa_fe" TO "anon";
GRANT ALL ON TABLE "public"."classes_santa_fe" TO "authenticated";
GRANT ALL ON TABLE "public"."classes_santa_fe" TO "service_role";



GRANT ALL ON TABLE "public"."communication_logs" TO "anon";
GRANT ALL ON TABLE "public"."communication_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."communication_logs" TO "service_role";



GRANT ALL ON TABLE "public"."gym_devices" TO "anon";
GRANT ALL ON TABLE "public"."gym_devices" TO "authenticated";
GRANT ALL ON TABLE "public"."gym_devices" TO "service_role";



GRANT ALL ON TABLE "public"."gyms" TO "anon";
GRANT ALL ON TABLE "public"."gyms" TO "authenticated";
GRANT ALL ON TABLE "public"."gyms" TO "service_role";



GRANT ALL ON TABLE "public"."gymsSantaFe" TO "anon";
GRANT ALL ON TABLE "public"."gymsSantaFe" TO "authenticated";
GRANT ALL ON TABLE "public"."gymsSantaFe" TO "service_role";



GRANT ALL ON SEQUENCE "public"."gyms_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."gyms_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."gyms_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."invoices" TO "anon";
GRANT ALL ON TABLE "public"."invoices" TO "authenticated";
GRANT ALL ON TABLE "public"."invoices" TO "service_role";



GRANT ALL ON TABLE "public"."membership_types" TO "anon";
GRANT ALL ON TABLE "public"."membership_types" TO "authenticated";
GRANT ALL ON TABLE "public"."membership_types" TO "service_role";



GRANT ALL ON SEQUENCE "public"."membership_types_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."membership_types_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."membership_types_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."orders" TO "anon";
GRANT ALL ON TABLE "public"."orders" TO "authenticated";
GRANT ALL ON TABLE "public"."orders" TO "service_role";



GRANT ALL ON TABLE "public"."monthly_sales_report" TO "anon";
GRANT ALL ON TABLE "public"."monthly_sales_report" TO "authenticated";
GRANT ALL ON TABLE "public"."monthly_sales_report" TO "service_role";



GRANT ALL ON TABLE "public"."notifications_log" TO "anon";
GRANT ALL ON TABLE "public"."notifications_log" TO "authenticated";
GRANT ALL ON TABLE "public"."notifications_log" TO "service_role";



GRANT ALL ON SEQUENCE "public"."notifications_log_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."notifications_log_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."notifications_log_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."owner_memberships" TO "anon";
GRANT ALL ON TABLE "public"."owner_memberships" TO "authenticated";
GRANT ALL ON TABLE "public"."owner_memberships" TO "service_role";



GRANT ALL ON TABLE "public"."payments" TO "anon";
GRANT ALL ON TABLE "public"."payments" TO "authenticated";
GRANT ALL ON TABLE "public"."payments" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."tasks" TO "anon";
GRANT ALL ON TABLE "public"."tasks" TO "authenticated";
GRANT ALL ON TABLE "public"."tasks" TO "service_role";



GRANT ALL ON SEQUENCE "public"."tasks_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."tasks_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."tasks_id_seq" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";







