/* Aplicar al fondo de toda la página (Home) */
body {
    background-color: #393939;
    margin: 0;
    padding: 0;
}

/* Aplicar a la barra de navegación */
/* Nota: Asegúrate de que tu componente Navbar use la etiqueta <nav> o la clase .navbar */
nav, .navbar {
    background-color: #393939 !important; /* El !important asegura que sobreescriba estilos previos */
    border-bottom: 1px solid #333; /* Opcional: una línea sutil para separar si el contenido es claro */
}

/* Para que el texto sea legible sobre el gris */
body, nav a {
    color: #FFFFFF !important;
    text-decoration: none;
}

div, form, button, p, a, input {
    color: #FFFFFF
}

/* Le creo un color bien llamativo al boton hamburguesa */
.btn-hamburguesa {
    color: #CCFF00 !important; /* Amarillo flúor */
    fill: currentColor; /* Si el icono es un SVG interno */
}

/*Esto pone en gris el contenedor del popup que genera Maplibre*/
@layer base {
  .maplibregl-popup-content {
    background: #808080 !important;
    color: #333 !important;
    padding: 12px !important;
    border-radius: 8px !important;
  }
}

/*Son para el badge que muesrta la cantidad de clases disponibles en un cada gym en el mapa*/

.custom-marker {
  position: relative;
  font-size: 24px; /* Tamaño del icono */
  cursor: pointer;
}

.marker-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #ff4757; /* Rojo llamativo */
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

